.footer {
    background-color: #333333;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 15px;
    line-height: 1.33333;
    bottom: 0;
}

.container {
    box-sizing: border-box;
    width: 1920px;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    justify-content: space-between;

    h2 {
        font-size: 24px;
        margin-top: 0;
        color: #ffffff;
    }

    p {
        font-size: 16px;
    }

    a {
        text-decoration: none;
        display: block;
        color: #ffffff;
        margin-bottom: 10px;

        &:hover,
        &:focus {
            color: #416FED;
        }
    }   
}

.link {
    margin-right: 30px;
}

.copyright {
    text-align: right;

    span {
        font-size: 18px;
        font-weight: 500;
    }

    a {
        margin-right: 0;
    }
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
